<html>
    <header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>

    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/primeui.min.js"></script>
    <script src="/js/primeui_extension.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/primeui.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/theme.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT"
        crossorigin="anonymous">

    <!-- Importing BackBone.js -->
    <script src="http://backbonejs.org/backbone-min.js"></script>
    <!-- Importing all Models.js -->
    <script src="/Clinic/ClinicModel.js"></script>
    <!-- Importing Data.js -->
    <script src="/DataClinics.js"></script>
    <!-- Importing all Views.js -->
    <script src="/pages/ListView.js"></script>
    <script src="/pages/DetailView.js"></script>

    <!-- Importing main Script -->
    <script src="/index.js"></script>
    
    </header>
    <body>
        <div id="content">

        </div>
            
        <script id="details" type="text/template">
            <form>
                <hr/>
                <h2><%= Name %></h2>
                <div>
                    <label>Address:</label>
                    <input type="text" disabled value='<%= Address %>'/>
                </div>
                <br/>
                <div>
                    <label>Phone:</label>
                    <input type="text" disabled value='<%= PhoneNumber %>'/>
                </div>
                <hr/>
            </form>
        </script>
    </body>
</html>